Repository blitzy-public-samples/java-spring-boot-upgrade-sample, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backend-team, @platform-team, @devops-team, @build-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/provider.tf
  infrastructure/terraform/provider.tf
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/versions.tf
  infrastructure/terraform/versions.tf
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/.editorconfig
  src/backend/.editorconfig
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/Dockerfile.only-package
  src/backend/Dockerfile.only-package
Owners: @devops-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/banner.txt
  src/backend/banner.txt
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/checkstyle.xml
  src/backend/checkstyle.xml
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/docker-compose.dev.yml
  src/backend/docker-compose.dev.yml
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/jreleaser.yml
  src/backend/jreleaser.yml
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/lombok.config
  src/backend/lombok.config
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/mvnw
  src/backend/mvnw
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/mvnw.cmd
  src/backend/mvnw.cmd
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/pom.xml
  src/backend/pom.xml
Owners: @platform-team, @build-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/sonar-project.properties
  src/backend/sonar-project.properties
Owners: @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/spotbugs-exclude.xml
  src/backend/spotbugs-exclude.xml
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/.mvn/wrapper/maven-wrapper.properties
  src/backend/.mvn/wrapper/maven-wrapper.properties
Owners: @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/ExampleHealthIndicator.java
  src/backend/src/main/java/sample/actuator/ExampleHealthIndicator.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/ExampleInfoContributor.java
  src/backend/src/main/java/sample/actuator/ExampleInfoContributor.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/HelloWorldService.java
  src/backend/src/main/java/sample/actuator/HelloWorldService.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/SampleActuatorApplication.java
  src/backend/src/main/java/sample/actuator/SampleActuatorApplication.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/SampleController.java
  src/backend/src/main/java/sample/actuator/SampleController.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/ServiceProperties.java
  src/backend/src/main/java/sample/actuator/ServiceProperties.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/config/ActuatorConfig.java
  src/backend/src/main/java/sample/actuator/config/ActuatorConfig.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/config/SecurityConfig.java
  src/backend/src/main/java/sample/actuator/config/SecurityConfig.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/config/WebConfig.java
  src/backend/src/main/java/sample/actuator/config/WebConfig.java
Owners: @backend-team, @platform-team

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Backend source code - Spring Boot 3 application code, services, and controllers
/src/backend/ @backend-team

# Spring Boot actuator components - health indicators, info contributors and metrics
/src/backend/src/main/java/sample/actuator/ @backend-team @platform-team

# Infrastructure configuration - Docker and deployment configs
/infrastructure/ @devops-team @platform-team

# Application properties and configuration files
*.properties @platform-team

# Maven build configuration
pom.xml @platform-team @build-team

# Docker configuration files
Dockerfile* @devops-team

# GitHub Actions CI/CD workflows
.github/workflows/ @devops-team @platform-team
