Repository blitzy-public-samples/java-spring-boot-upgrade-sample, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backend-team, @platform-team, @devops-team, @build-team

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Backend source code - Spring Boot 3 application code, services, and controllers
/src/backend/ @backend-team

# Spring Boot actuator components - health indicators, info contributors and metrics
/src/backend/src/main/java/sample/actuator/ @backend-team @platform-team

# Infrastructure configuration - Docker and deployment configs
/infrastructure/ @devops-team @platform-team

# Application properties and configuration files
*.properties @platform-team

# Maven build configuration
pom.xml @platform-team @build-team

# Docker configuration files
Dockerfile* @devops-team

# GitHub Actions CI/CD workflows
.github/workflows/ @devops-team @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/dto/HealthResponse.java
  src/backend/src/main/java/sample/actuator/dto/HealthResponse.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/dto/InfoResponse.java
  src/backend/src/main/java/sample/actuator/dto/InfoResponse.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/dto/MessageResponse.java
  src/backend/src/main/java/sample/actuator/dto/MessageResponse.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/exception/GlobalExceptionHandler.java
  src/backend/src/main/java/sample/actuator/exception/GlobalExceptionHandler.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/mapper/MessageMapper.java
  src/backend/src/main/java/sample/actuator/mapper/MessageMapper.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/model/Message.java
  src/backend/src/main/java/sample/actuator/model/Message.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/repository/MessageRepository.java
  src/backend/src/main/java/sample/actuator/repository/MessageRepository.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/java/sample/actuator/validation/MessageValidator.java
  src/backend/src/main/java/sample/actuator/validation/MessageValidator.java
Owners: @backend-team, @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/resources/application-dev.properties
  src/backend/src/main/resources/application-dev.properties
Owners: @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/resources/application-prod.properties
  src/backend/src/main/resources/application-prod.properties
Owners: @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/resources/application.properties
  src/backend/src/main/resources/application.properties
Owners: @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/resources/logback-spring.xml
  src/backend/src/main/resources/logback-spring.xml
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  src/backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/resources/db/migration/V1__init.sql
  src/backend/src/main/resources/db/migration/V1__init.sql
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/main/resources/db/migration/V2__sample_data.sql
  src/backend/src/main/resources/db/migration/V2__sample_data.sql
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/test/java/sample/actuator/ExampleInfoContributorTest.java
  src/backend/src/test/java/sample/actuator/ExampleInfoContributorTest.java
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/test/java/sample/actuator/HealthIT.java
  src/backend/src/test/java/sample/actuator/HealthIT.java
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/test/java/sample/actuator/HelloWorldServiceTest.java
  src/backend/src/test/java/sample/actuator/HelloWorldServiceTest.java
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/test/java/sample/actuator/SampleActuatorApplicationTests.java
  src/backend/src/test/java/sample/actuator/SampleActuatorApplicationTests.java
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/test/java/sample/actuator/SampleControllerTest.java
  src/backend/src/test/java/sample/actuator/SampleControllerTest.java
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/test/java/sample/actuator/mapper/MessageMapperTest.java
  src/backend/src/test/java/sample/actuator/mapper/MessageMapperTest.java
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/test/java/sample/actuator/repository/MessageRepositoryTest.java
  src/backend/src/test/java/sample/actuator/repository/MessageRepositoryTest.java
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/test/java/sample/actuator/validation/MessageValidatorTest.java
  src/backend/src/test/java/sample/actuator/validation/MessageValidatorTest.java
Owners: @backend-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/test/resources/application-endpoints.properties
  src/backend/src/test/resources/application-endpoints.properties
Owners: @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/test/resources/application-test.properties
  src/backend/src/test/resources/application-test.properties
Owners: @platform-team

Add public-samples/java-spring-boot-upgrade-sample/src/backend/src/test/resources/logback-test.xml
  src/backend/src/test/resources/logback-test.xml
Owners: @backend-team
